@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "iranyekan";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/iranyekanwebmediumfanum.eot");
  src: url("/fonts/iranyekanwebmediumfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/fonts/iranyekanwebmediumfanum.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/fonts/iranyekanwebmediumfanum.ttf") format("truetype");
}
html,
div,
p {
  font-family: "iranyekan";
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container {
  margin: 0 auto;
}

/* .header > .nav {
  border-bottom: 1px solid rgb(153, 153, 207);
} */
