@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "iranyekan";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/iranyekanwebmediumfanum.eot");
  src: url("/fonts/iranyekanwebmediumfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/fonts/iranyekanwebmediumfanum.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/fonts/iranyekanwebmediumfanum.ttf") format("truetype");
}
html,
div,
p {
  font-family: "iranyekan";
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container {
  margin: 0 auto;
}

/* .header > .nav {
  border-bottom: 1px solid rgb(153, 153, 207);
} */
.square_box {
  position: absolute;
  transform: rotate(45deg);
  border-top-left-radius: 45px;
}
.box_four {
  background-image: -webkit-linear-gradient(
    -90deg,
    #95aad0 0%,
    rgb(242 242 242 / 50%) 100%
  );
  width: 560px;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%) rotate(47deg);
  height: 500px;
  border-radius: 45px;
}
